header{
  background-color: #DB7F9D;
}

main {
  display: grid;
  grid-template-areas;
   'aside article article'
  ;aside footer footer';
  grid-gap: 30px;
  
aside {
  grid-area: aside;
  background: #FCE4EC;
}
    
article {
  grid-area: article;
  background: #ffffff;
}

footer {
  grid-area: footer;
  background: #F7A0BD;
}
