header{
  padding: 30px;
  background: #DB7F9D;
  background-image: url('https://images.unsplash.com/photo-1521133573892-e44906baee46?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60');
  background-size: cover;
  background-attachment: fixed;
}
  
main {
  display: grid;
  grid-template-areas:
   'aside article article'
  'aside footer footer';
  grid-gap: 30px;
}
aside {
  grid-area: aside;
  background: #FCE4EC;
}
    
article {
  grid-area: article;
  background: #ffffff;
}

footer {
  grid-area: footer;
  background: #F7A0BD;
}
